@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
	margin: 0 auto;
	padding: 0;
}
.box {
	margin: 0 auto;
	padding: 10% 20%;
	background: #fefefe;
}

.inMsg, .outMsg {
	display:block;
	clear: both;
	padding: 10px;
	border-radius: 30px;
	margin-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
}

.inMsg {
	background: #eee;
	float: left;
}

.outMsg {
	float: right;
	background: #0084ff;
	color: #fff;
}

.inMsg + .outMsg {
	border-bottom-right-radius: 5px;
}

.outMsg + .outMsg {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.outMsg:last-of-type {
	border-bottom-right-radius: 30px;
}
