@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

html, body {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.chatWin {
	margin: 0 auto;
	min-width: 411px;
	width: 45%;
	padding: 20px;
	border: 3px solid black;
	height: 90%;
	position: relative;
}

.forms {
	position: absolute;
	width: 100%;
	padding: 0 auto;
	bottom: 0;
	left: 0;
	right: 100%;
}

input {
	height: auto;
	
	padding: 5px;
}

button {
	padding: 5px;
	width: 20%;
}

.inMsg, .outMsg {
	display:block;
	clear: both;
	padding: 10px;
	border-radius: 30px;
	margin-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
}

.inMsg {
	background: #eee;
	float: left;
}

.outMsg {
	float: right;
	background: #0084ff;
	color: #fff;
}
